ABE==0.1.0
absl-py==0.6.1
adodbapi==2.6.2.0
agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.2
agate-sql==0.5.3
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
aniso8601==8.0.0
appdirs==1.4.4
applaunchservices==0.2.1
appnope @ file:///opt/concourse/worker/volumes/live/8b5bd665-fe9a-4b43-55ab-604475fcb838/volume/appnope_1606859465017/work
appscript @ file:///opt/concourse/worker/volumes/live/91c8994f-17d8-4d72-71d5-86defaef485b/volume/appscript_1594840169383/work
argh==0.26.2
argon2-cffi @ file:///opt/concourse/worker/volumes/live/b46b812d-eebc-4040-75c0-7fc24d9bfd54/volume/argon2-cffi_1596828479252/work
asgiref==3.2.3
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.7.1
astroid @ file:///opt/concourse/worker/volumes/live/76ddd801-8c2e-42ae-78fe-7e7640c9eb32/volume/astroid_1592495930711/work
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
awscli==1.14.29
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///opt/concourse/worker/volumes/live/c92c87a7-f759-4d4c-49cd-6eacb46c83ca/volume/bitarray_1605065134914/work
bkcharts==0.2
black==19.10b0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
bokeh @ file:///opt/concourse/worker/volumes/live/32e4980e-8ef5-45b0-76ac-0a52c01035d7/volume/bokeh_1603297858172/work
boto==2.49.0
botocore==1.8.33
Bottleneck==1.3.2
branca==0.2.0
brotlipy==0.7.0
bs4==0.0.1
bumpversion==0.5.3
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi @ file:///opt/concourse/worker/volumes/live/fdab5f8f-d9cf-4e28-48c7-38c4ee85b3c3/volume/cffi_1606255125152/work
chardet @ file:///opt/concourse/worker/volumes/live/8264bbc9-7371-481f-419c-a9d31a09238b/volume/chardet_1607706837238/work
Charm-Crypto==0.50
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
coincurve==15.0.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.10.1
conda-build==3.0.22
conda-package-handling @ file:///opt/concourse/worker/volumes/live/57e77785-1861-46bd-6dce-623895e11c8e/volume/conda-package-handling_1603018143703/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
contextvars==2.4
coverage @ file:///opt/concourse/worker/volumes/live/aa96dc61-03a4-4f95-77ba-29dfe6dcc93a/volume/coverage_1614614853414/work
crc16==0.1.1
crcmod==1.7
cryptography @ file:///opt/concourse/worker/volumes/live/225dfa69-5c76-45c8-460f-52e9c98127f3/volume/cryptography_1607636753993/work
csvkit==1.0.3
cycler==0.10.0
Cython @ file:///opt/concourse/worker/volumes/live/d464f02f-7737-4d43-6f06-00bf4d284119/volume/cython_1605457630935/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1607706933335/work
dbfread==2.0.7
decorator==4.4.2
defusedxml==0.6.0
dicttoxml==1.7.4
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distributed @ file:///opt/concourse/worker/volumes/live/17fe2041-aeb6-4daa-43a5-bd0d3ec50c75/volume/distributed_1607714061501/work
Django==3.0
docutils==0.16
dramatiq==1.7.0
eciespy==0.3.10
entrypoints==0.3
et-xmlfile==1.0.1
eth-hash==0.3.1
eth-keys==0.3.3
eth-typing==2.2.2
eth-utils==1.10.0
fastcache==1.1.0
filelock==3.0.12
firebase-admin==4.5.1
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
flask-restx==0.2.0
folium==0.5.0
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
fuse-python==1.0.0
fusepy==3.0.1
future==0.18.2
gast==0.2.0
geocoder==1.38.1
geojson==2.4.1
geopy==1.11.0
gevent @ file:///opt/concourse/worker/volumes/live/06b243fd-5b93-4899-5d40-3772918a04b8/volume/gevent_1608661039761/work
glob2==0.7
gmaps==0.8.4
gmpy2==2.0.8
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.25.0
google-auth-httplib2==0.0.4
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.35.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
greenlet @ file:///opt/concourse/worker/volumes/live/21424f80-7dc7-4e48-6e0e-2c0cb5eb1af8/volume/greenlet_1600874025891/work
grpcio @ file:///opt/concourse/worker/volumes/live/a0e3953b-c3d5-414b-5f1a-2c3bb74b03b2/volume/grpcio_1614884177516/work
grpcio-tools==1.6.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httplib2==0.18.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagecodecs @ file:///opt/concourse/worker/volumes/live/90a3f112-4ca4-4338-6fd5-fec6c735578a/volume/imagecodecs_1603270446216/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
immutables @ file:///opt/concourse/worker/volumes/live/4ddf6690-05db-4e18-4492-d856be2d7c23/volume/immutables_1592425996831/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
integer==1.0.3
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///opt/concourse/worker/volumes/live/43eaf185-e9cd-4e78-5afa-c19accf1339d/volume/ipykernel_1596206683810/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyparallel==6.2.3
ipython @ file:///opt/concourse/worker/volumes/live/8c453bb6-500b-4747-778c-a236ae4a574d/volume/ipython_1593447395779/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
iso8601==0.1.12
isodate==0.6.0
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///opt/concourse/worker/volumes/live/42092d29-ed52-4301-6117-810bb624fd2f/volume/jedi_1606932574270/work
Jinja2==2.11.2
jmespath==0.9.3
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core @ file:///opt/concourse/worker/volumes/live/35a93b4e-d6fb-4720-7895-2fda25ada785/volume/jupyter_core_1606149000225/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kaggle==1.5.6
Keras==2.2.4
Keras-Applications==1.0.6
keras-metrics==0.0.5
Keras-Preprocessing==1.0.5
keyring @ file:///opt/concourse/worker/volumes/live/e8874ac1-0b5d-4e54-6dc2-8d7683cd913b/volume/keyring_1608756092238/work
kiwisolver @ file:///opt/concourse/worker/volumes/live/5794d9e6-1dea-4988-7eee-ac7cda6f8e93/volume/kiwisolver_1604014602272/work
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/0ac78eb4-a09b-44ae-4f3a-0b00b7034ce6/volume/lazy-object-proxy_1607707349885/work
leather==0.3.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
logger==1.4
lxml @ file:///opt/concourse/worker/volumes/live/a0c9b779-cad6-4003-40fb-ffad3dc20460/volume/lxml_1606516858902/work
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib @ file:///opt/concourse/worker/volumes/live/9bf5b21c-34eb-4715-6df2-13405c06dc9d/volume/matplotlib-base_1603377315355/work
mccabe==0.6.1
meross-iot==0.3.2.17
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
mod==0.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.1.0
msgpack @ file:///opt/concourse/worker/volumes/live/9446f9ba-d738-40ad-7863-0187d8ab78cd/volume/msgpack-python_1607965817399/work
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///opt/concourse/worker/volumes/live/83354520-8b79-4a5c-771c-53c9f422edfc/volume/nbconvert_1601914843271/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nbsphinx==0.4.2
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook @ file:///opt/concourse/worker/volumes/live/659fbbf2-403e-4d97-6e99-4eae0d1ce4d0/volume/notebook_1607976404084/work
numba @ file:///opt/concourse/worker/volumes/live/ae24c1ca-d916-4043-5919-a843fa33e451/volume/numba_1600082254583/work
numexpr @ file:///opt/concourse/worker/volumes/live/ec39135a-d177-4969-7b19-650bcfdb9d5a/volume/numexpr_1607693784668/work
numpy @ file:///opt/concourse/worker/volumes/live/e6a5a904-ea21-4841-4eec-d53e1ac1014c/volume/numpy_and_numpy_base_1603479626870/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauthlib==2.0.6
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
openreview-py==0.9.18
packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
paho-mqtt==1.5.0
pandas==1.1.5
pandocfilters @ file:///opt/concourse/worker/volumes/live/b9c0ff3b-1a27-4501-4e51-2ed36ae5b9e2/volume/pandocfilters_1605120446902/work
parsedatetime==2.4
parso==0.7.0
partd==1.1.0
path @ file:///opt/concourse/worker/volumes/live/c7b0395c-3a1f-4069-6d57-7b35f703b076/volume/path_1607537208535/work
pathlib2 @ file:///opt/concourse/worker/volumes/live/10dab17b-e52c-44d3-56e1-37792eca98c4/volume/pathlib2_1607024974038/work
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///opt/concourse/worker/volumes/live/06069510-e277-4aed-54f4-6dfdcb84a461/volume/pillow_1603822272490/work
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
proto-plus==1.13.0
protobuf==3.14.0
psutil @ file:///opt/concourse/worker/volumes/live/338e0e4d-62ab-487e-7319-52d56429fb60/volume/psutil_1598370232038/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.10.1
pycurl==7.43.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pydot==1.4.1
pyflakes==2.2.0
pygeoip==0.3.2
Pygments @ file:///tmp/build/80754af9/pygments_1607368905949/work
PyJWT==1.7.1
pylint @ file:///opt/concourse/worker/volumes/live/7cea4525-4763-4343-4314-b6c7c20dbe1f/volume/pylint_1598624000729/work
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1608134179673/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
Pyphen==0.9.5
pypng==0.0.20
pyproj==2.6.1.post1
pyrsistent @ file:///opt/concourse/worker/volumes/live/d7ed6755-1956-4a16-5499-c03638db758d/volume/pyrsistent_1600141722278/work
pyserial==3.4
PySocks @ file:///opt/concourse/worker/volumes/live/286ddfa9-f2fd-40b3-4c68-b14dbfd7c9fa/volume/pysocks_1605305809963/work
pytest==0.0.0
python-codicefiscale==0.3.7
python-daemon==2.3.0
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
python-slugify==1.2.5
python-whois==0.7.3
pytimeparse==1.1.8
pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
PyWavelets @ file:///opt/concourse/worker/volumes/live/7b9ed5cc-fdd2-4389-679d-2674cfabb40a/volume/pywavelets_1601658333093/work
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
ratelim==0.1.6
regex @ file:///opt/concourse/worker/volumes/live/a70aa475-ce0d-458c-6f7c-8e0ce34c1844/volume/regex_1606772986255/work
repoze.lru==0.7
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-file==1.5.1
requests-oauthlib==0.8.0
requests-toolbelt==0.9.1
retrying==1.3.3
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rply==0.7.8
rsa==3.4.2
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.1.12
scikit-image==0.17.2
scikit-learn @ file:///opt/concourse/worker/volumes/live/5aebc36a-9e26-4cf4-48a2-103c2e39086d/volume/scikit-learn_1598376928019/work
scipy @ file:///opt/concourse/worker/volumes/live/d2cc8ac1-8922-48bc-7969-1f576a9f572d/volume/scipy_1597686637832/work
seaborn==0.10.1
selenium==3.8.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
serial==0.0.66
Shapely==1.6.4.post2
simpledbf==0.2.6
simplegeneric==0.8.1
simplekml==1.3.0
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six @ file:///opt/concourse/worker/volumes/live/5839b2d2-7415-4ff0-4c61-c4cddf798f7c/volume/six_1605205320479/work
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1608578712890/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
splinter==0.7.7
spyder @ file:///opt/concourse/worker/volumes/live/b7fa0717-c68c-4455-788f-ca5d42850f1b/volume/spyder_1607704273241/work
spyder-kernels @ file:///opt/concourse/worker/volumes/live/efddd10d-107e-4208-42ef-4b0a7c57a375/volume/spyder-kernels_1608578789347/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/3774c730-e1c8-4d99-6c5a-bcf907fd93b4/volume/sqlalchemy_1608243732612/work
sqlparse==0.3.0
statsmodels @ file:///opt/concourse/worker/volumes/live/eee6b14a-7d72-49b1-6cba-eb302fecb6ee/volume/statsmodels_1606865745924/work
sympy @ file:///opt/concourse/worker/volumes/live/f5db274f-b35c-4855-5baa-da501902cda6/volume/sympy_1608137693031/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textstat==0.5.6
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1607624018440/work
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado @ file:///opt/concourse/worker/volumes/live/cd39df49-5c81-4c95-513c-5bb83298b7ef/volume/tornado_1606942310103/work
tqdm @ file:///tmp/build/80754af9/tqdm_1607369919789/work
traitlets==4.3.3
tweepy==3.5.0
twilio==6.23.1
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
ujson @ file:///opt/concourse/worker/volumes/live/d1ce1e75-f1d2-4a73-4bdd-831f53820af8/volume/ujson_1602523303996/work
unicodecsv==0.14.1
Unidecode==1.0.22
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
virtualenv==15.1.0
watchdog @ file:///opt/concourse/worker/volumes/live/d04aa095-615d-49bc-7441-c07b7dda18d7/volume/watchdog_1606939144456/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt @ file:///opt/concourse/worker/volumes/live/4f9b85ff-0e2b-45ea-5ced-59ae4d0157bf/volume/wrapt_1607712503374/work
wurlitzer @ file:///opt/concourse/worker/volumes/live/629dc498-dffd-47db-6bc8-01e1c73271f0/volume/wurlitzer_1594753845784/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
xlsx2csv==0.7.4
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.21.4
xlwt==1.2.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
zeep==4.0.0
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///opt/concourse/worker/volumes/live/dfe3f45f-ef26-4ce3-44a1-4cdb5529183b/volume/zope.interface_1606940326259/work
